<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Pname}}</title>


    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myapp/css/studentuser.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static '/myapp/css/fenye.css' %}">
    <script src="/static/myapp/js/tanchuan.js"></script>
    <script src="/static/myapp/js/daohangtiao.js"></script>
    <script src="/static/myapp/js/time_display.js"></script>
    <script src="/static/myapp/js/jquery-3.3.1.min.js"></script>
    <!--异步刷新-->
    <script>

        $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
        $('#form1').submit(function(){
                page = 1;
                Load();

                })

<!--搜索-->
            function Load(){
                var grade = $("select[name=grade]").val();                 //获得form中用户输入的grade 注意这里的id_grade 与你html中的id一致

                $.ajax({
                    type:"POST",
                    data: {grade:grade,page:1},
                    url: "{% url 'myapp:comments_upload' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "html",
                    success: function(data){
                        render (data);

                    },
                    error: function(){
                        alert("请输入正确班级");
                    }
                });

        }
        });


<!--分页-->
            <!--{# 上一页 #}-->
        function previous(page) {
            page = page-1;
            search(page);
        }
        <!--{# 下一页 #}-->
        function next(page) {
            page = page +1;
            search(page);
        }
         <!--任意一页-->
        function now(page) {
            page = page
            search(page);
        }
        <!--{# 搜索，与按钮点击事件中函数的完全相同 #}-->
        function search(page) {
            var grade = $("select[name=grade]").val();
            $.ajax({
                type:"POST",
                data: {grade:grade,page:page},
                url: "{% url 'myapp:comments_upload' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                cache: false,
                dataType: "html",
                success:function (data) {
                    render(data);
                }
            });
        }


<!--成功后执行渲染-->
            function render(data){
                        var json = eval('('+data+')');
                        var id = "";
                        var str = "";
                        var html = ""
                        if( json != undefined){
                            for(var i= 3; i<(json.length);i++){    //遍历data数组
                                var stem = json[i];

                                str +=  "<tr>"
                                       + "<td align='center'>"+ "<a href='javascript:void(0)' onclick='popupFunc("+ stem[0]+ ")'>" + stem[1] + "</a>"+ "</td>"
                                       + "</tr>";
                             $("#ul1").html(str); //在html页面id=ul1的标签里显示str内容

                            };


                            <!--{# 上一页，下一页 #}-->
                                html += '<ul class="pagination" style="background-color:rgb(240,255,251);height:auto;width:auto;left:1075px;">';
                                    if (json[0]>1){
                                        html += '<li><a href="javascript:void(0)" class="btn btn-default" onclick="previous(' + json[0] + ')">&laquo;</a></li>';
                                    }
                                    else {
                                        html += '<li><a href="javascript:void(0)" class="btn btn-default disabled">&laquo;</a></li>';
                                    }
                                    for(var i= 0; i<(json[2].length);i++){
                                        if(json[0]==json[2][i]){
                                            html += '<li class="active"><a href="javascript:void(0)" onclick="now(' + json[2][i] + ')">'+ json[2][i] +'</a></li>'
                                        }
                                        else{
                                            html += '<li><a href="javascript:void(0)" onclick="now(' + json[2][i] + ')">'+ json[2][i] +'</a></li>'
                                        }
                                    };

                                    if (json[1]){
                                        html += '<li><a href="javascript:void(0)" class="btn btn-default" onclick="next(' + json[0] + ')">&raquo;</a></li>';
                                    }
                                    else {
                                        html += '<li><a href="javascript:void(0)" class="btn btn-default disabled">&raquo;</a></li>';
                                    }
                                html += '</ul>';

                            $("#nav_btn").html(html);


                        };
            }



</script>

</head>

<body onLoad="showTime()" class="body">
        <form name="timeform" method="POST" action="">

            {% csrf_token %}

            <table width="10px" style="position:absolute;top:24px;left:305px;">
                <tr>
                    <td colspan="2">
                    <input name="timearea" type="text" size="30" align="middle" style="background-color:rgb(123,205,254);border:none;font-size:14px;" readonly="readonly"></td>
                </tr>
            </table>
        </form>

            <div><img src="/static/myapp/img/4.png" width="100%" height="250px"></div>
            <div style="position:absolute;top:17px;left:12px"><img src="/static/myapp/img/10.png" ></div>

            <!--<h1 class="header">欢迎{{user.Pname}}</h1>-->

                <a href="{% url 'myapp:logoutb' %}" class="menu_head3" >注销</a>

<div align="center">
        <form method="post" id="form1" name="form1" onsubmit="return false">
            {% csrf_token %}

            <table class="submit">
                <tr>
                    <td><h4>输入查询班级</h4></td>
                    <td>
                            <select name="grade"><option></option>
                                {%for k in AllGrade %}
                                    <option>{{k}}</option>
                                {% endfor %}
                            </select>
                    </td>
                    <td><input type="submit" value="查询" onclick="" id="submit"></td>
                </tr>
            </table>
        </form>

        <table id="ul1" align="center" style="position:relative;top:100px;"></table>

        <div id="nav_btn" align="center" style="position:relative;top:120px;"></div>
</div>

        {% for i in AllUser %}
            <p align="center"><a href="javascript:void(0);" onclick="popupFunc({{i.id}})">{{i}}</a></p>
        {% endfor %}



</body>
</html>