<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专业硕士培养体系</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myApp/css/index.css' %}">

</head>
<body background="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1542206504382&di=58d24909b95a4c826dcdf76af8d1a064&imgtype=0&src=http%3A%2F%2Fpic.90sjimg.com%2Fback_pic%2Fqk%2Fback_origin_pic%2F00%2F01%2F97%2F2d7f7caf303c13ec690cf231d53a517d.jpg"
style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;"
text="#68228B" onload="setInterval('clock()',1000)">

    <div class="header">
        <a href="student/">学生端</a>
        <a href="teacher/">教师端</a>
    </div>
</body>
</html>