<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
        {% for i,j,k in result %}
            <tbody>
                    <tr align="center">
                        <td align="center" rowspan={{k}}>{{i}}</td>
                        {% for name,fen,tips in j %}
                            <td align="center">{{name}}</td>
                            <td align="center" title="'{{tips}}'">{{fen}}</td>
                    </tr>
                        {% endfor %}
            </tbody>
        {% endfor %}
    </table>

</body>
</html>