<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Tid}}</title>
</head>

{% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myApp/css/teacherassess.css' %}">

<body>
        <form method="post">
            {% csrf_token %}

        {% if message == "see" %}
                <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
                <tbody align="center">
                        <tr>
                            <td rowspan="8">适应能力</td>
                            <td>表达能力</td>
                            <td>{{self.ExpressAbility1}}-{{self.ExpressAbility2}}</td>
                        </tr>
                        <tr>
                            <td>记忆能力</td>
                            <td>{{self.RemberAbility1}}-{{self.RemberAbility2}}</td>
                        </tr>
                        <tr>
                            <td>交往能力</td>
                            <td>{{self.InteractAbility1}}-{{self.InteractAbility2}}</td>
                        </tr>
                        <tr>
                            <td>自我学习能力</td>
                            <td>{{self.Selflearning1}}-{{self.Selflearning2}}</td>
                        </tr>
                        <tr>
                            <td>逻辑思维能力</td>
                            <td>{{self.LogicAbility1}}-{{self.LogicAbility2}}</td>
                        </tr>
                        <tr>
                            <td>系统思维能力</td>
                            <td>{{self.SystemMind1}}-{{self.SystemMind2}}</td>
                        </tr>
                        <tr>
                            <td>专注能力</td>
                            <td>{{self.ConcentrateAbility1}}-{{self.ConcentrateAbility2}}</td>
                        </tr>
                        <tr>
                            <td>适应变化能力</td>
                            <td>{{self.AdaptDiverse1}}-{{self.AdaptDiverse2}}</td>
                        </tr>
                </tbody>

                <tbody align="center">
                        <tr>
                            <td rowspan="7">创新能力</td>
                            <td>独立思考能力</td>
                            <td>{{self.IndependMind1}}-{{self.IndependMind2}}</td>
                        </tr>
                        <tr>
                            <td>发现问题能力</td>
                            <td>{{self.ProblemFind1}}-{{self.ProblemFind2}}</td>
                        </tr>
                        <tr>
                            <td>推测预见能力</td>
                            <td>{{self.PredictAbility1}}-{{self.PredictAbility2}}</td>
                        </tr>
                        <tr>
                            <td>知识迁移能力</td>
                            <td>{{self.KnowledgeMigrate1}}-{{self.KnowledgeMigrate2}}</td>
                        </tr>
                        <tr>
                            <td>发散思维能力</td>
                            <td>{{self.MindExpand1}}-{{self.MindExpand2}}</td>
                        </tr>
                        <tr>
                            <td>反思能力</td>
                            <td>{{self.Remind1}}-{{self.Remind2}}</td>
                        </tr>
                        <tr>
                            <td>应变能力</td>
                            <td>{{self.React1}}-{{self.React2}}</td>
                        </tr>
                </tbody>

                <tbody align="center">
                        <tr>
                            <td rowspan="12">工作能力</td>
                            <td>人际关系能力</td>
                            <td>{{self.InterpersonAbility1}}-{{self.InterpersonAbility2}}</td>
                        </tr>
                        <tr>
                            <td>分解问题能力</td>
                            <td>{{self.ProblemReduce1}}-{{self.ProblemReduce2}}</td>
                        </tr>
                        <tr>
                            <td>解决问题能力</td>
                            <td>{{self.ProblemDeal1}}-{{self.ProblemDeal2}}</td>
                        </tr>
                        <tr>
                            <td>只是转化能力</td>
                            <td>{{self.KnowladgeChange1}}-{{self.KnowladgeChange2}}</td>
                        </tr>
                        <tr>
                            <td>团队协作能力</td>
                            <td>{{self.TeamCooperation1}}-{{self.TeamCooperation2}}</td>
                        </tr>
                        <tr>
                            <td>执行能力</td>
                            <td>{{self.ExcuteAbility1}}-{{self.ExcuteAbility2}}</td>
                        </tr>
                        <tr>
                            <td>组织能力</td>
                            <td>{{self.OrganizeAbility1}}-{{self.OrganizeAbility2}}</td>
                        </tr>
                        <tr>
                            <td>转移经验能力</td>
                            <td>{{self.ExperienceTransform1}}-{{self.ExperienceTransform2}}</td>
                        </tr>
                        <tr>
                            <td>专业技术能力</td>
                            <td>{{self.ProfessSkill1}}-{{self.ProfessSkill2}}</td>
                        </tr>
                        <tr>
                            <td>计划能力</td>
                            <td>{{self.PlanAbility1}}-{{self.PlanAbility2}}</td>
                        </tr>
                        <tr>
                            <td>抗压能力</td>
                            <td>{{self.PressAbility1}}-{{self.PressAbility2}}</td>
                        </tr>
                        <tr>
                            <td>利益协调能力</td>
                            <td>{{self.BenefitCoordinate1}}-{{self.BenefitCoordinate2}}</td>
                        </tr>
                </tbody>

                <tbody align="center">
                       <tr>
                            <td rowspan="8">其他综合能力</td>
                            <td>感知能力</td>
                            <td>{{self.PreceptionAbility1}}-{{self.PreceptionAbility2}}</td>
                        </tr>
                        <tr>
                            <td>观察能力</td>
                            <td>{{self.ObserveAbility1}}-{{self.ObserveAbility2}}</td>
                        </tr>
                        <tr>
                            <td>鉴别评价能力</td>
                            <td>{{self.AssessAbility1}}-{{self.AssessAbility2}}</td>
                        </tr>
                        <tr>
                            <td>进去能力</td>
                            <td>{{self.EnterpriseAbility1}}-{{self.EnterpriseAbility2}}</td>
                        </tr>
                        <tr>
                            <td>理论理解能力</td>
                            <td>{{self.TheoryUnderstand1}}-{{self.TheoryUnderstand2}}</td>
                        </tr>
                        <tr>
                            <td>信息处理能力</td>
                            <td>{{self.MessageDeal1}}-{{self.MessageDeal2}}</td>
                        </tr>
                        <tr>
                            <td>正向影响能力</td>
                            <td>{{self.PositiveEffect1}}-{{self.PositiveEffect2}}</td>
                        </tr>
                        <tr>
                            <td>只是集成能力</td>
                            <td>{{self.KnowladgeCombine1}}-{{self.KnowladgeCombine2}}</td>
                        </tr>
                </tbody>
            </table>

                <p align="center">
                    <input type="submit" value="返回" name="back">
                </p>
        {% else %}
                <h2 align="center">{{message}}</h2>
                <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
                    <tbody align="center">
                            <tr>
                                <td rowspan="8">适应能力</td>
                                <td>表达能力</td>
                                <td>{{login_form.ExpressAbility1}}-{{login_form.ExpressAbility2}}</td>
                            </tr>
                            <tr>
                                <td>记忆能力</td>
                                <td>{{login_form.RemberAbility1}}-{{login_form.RemberAbility2}}</td>
                            </tr>
                            <tr>
                                <td>交往能力</td>
                                <td>{{login_form.InteractAbility1}}-{{login_form.InteractAbility2}}</td>
                            </tr>
                            <tr>
                                <td>自我学习能力</td>
                                <td>{{login_form.Selflearning1}}-{{login_form.Selflearning2}}</td>
                            </tr>
                            <tr>
                                <td>逻辑思维能力</td>
                                <td>{{login_form.LogicAbility1}}-{{login_form.LogicAbility2}}</td>
                            </tr>
                            <tr>
                                <td>系统思维能力</td>
                                <td>{{login_form.SystemMind1}}-{{login_form.SystemMind2}}</td>
                            </tr>
                            <tr>
                                <td>专注能力</td>
                                <td>{{login_form.ConcentrateAbility1}}-{{login_form.ConcentrateAbility2}}</td>
                            </tr>
                            <tr>
                                <td>适应变化能力</td>
                                <td>{{login_form.AdaptDiverse1}}-{{login_form.AdaptDiverse2}}</td>
                            </tr>
                    </tbody>

                    <tbody align="center">
                            <tr>
                                <td rowspan="7">创新能力</td>
                                <td>独立思考能力</td>
                                <td>{{login_form.IndependMind1}}-{{login_form.IndependMind2}}</td>
                            </tr>
                            <tr>
                                <td>发现问题能力</td>
                                <td>{{login_form.ProblemFind1}}-{{login_form.ProblemFind2}}</td>
                            </tr>
                            <tr>
                                <td>推测预见能力</td>
                                <td>{{login_form.PredictAbility1}}-{{login_form.PredictAbility2}}</td>
                            </tr>
                            <tr>
                                <td>知识迁移能力</td>
                                <td>{{login_form.KnowledgeMigrate1}}-{{login_form.KnowledgeMigrate2}}</td>
                            </tr>
                            <tr>
                                <td>发散思维能力</td>
                                <td>{{login_form.MindExpand1}}-{{login_form.MindExpand2}}</td>
                            </tr>
                            <tr>
                                <td>反思能力</td>
                                <td>{{login_form.Remind1}}-{{login_form.Remind2}}</td>
                            </tr>
                            <tr>
                                <td>应变能力</td>
                                <td>{{login_form.React1}}-{{login_form.React2}}</td>
                            </tr>
                    </tbody>

                    <tbody align="center">
                            <tr>
                                <td rowspan="12">工作能力</td>
                                <td>人际关系能力</td>
                                <td>{{login_form.InterpersonAbility1}}-{{login_form.InterpersonAbility2}}</td>
                            </tr>
                            <tr>
                                <td>分解问题能力</td>
                                <td>{{login_form.ProblemReduce1}}-{{login_form.ProblemReduce2}}</td>
                            </tr>
                            <tr>
                                <td>解决问题能力</td>
                                <td>{{login_form.ProblemDeal1}}-{{login_form.ProblemDeal2}}</td>
                            </tr>
                            <tr>
                                <td>只是转化能力</td>
                                <td>{{login_form.KnowladgeChange1}}-{{login_form.KnowladgeChange2}}</td>
                            </tr>
                            <tr>
                                <td>团队协作能力</td>
                                <td>{{login_form.TeamCooperation1}}-{{login_form.TeamCooperation2}}</td>
                            </tr>
                            <tr>
                                <td>执行能力</td>
                                <td>{{login_form.ExcuteAbility1}}-{{login_form.ExcuteAbility2}}</td>
                            </tr>
                            <tr>
                                <td>组织能力</td>
                                <td>{{login_form.OrganizeAbility1}}-{{login_form.OrganizeAbility2}}</td>
                            </tr>
                            <tr>
                                <td>转移经验能力</td>
                                <td>{{login_form.ExperienceTransform1}}-{{login_form.ExperienceTransform2}}</td>
                            </tr>
                            <tr>
                                <td>专业技术能力</td>
                                <td>{{login_form.ProfessSkill1}}-{{login_form.ProfessSkill2}}</td>
                            </tr>
                            <tr>
                                <td>计划能力</td>
                                <td>{{login_form.PlanAbility1}}-{{login_form.PlanAbility2}}</td>
                            </tr>
                            <tr>
                                <td>抗压能力</td>
                                <td>{{login_form.PressAbility1}}-{{login_form.PressAbility2}}</td>
                            </tr>
                            <tr>
                                <td>利益协调能力</td>
                                <td>{{login_form.BenefitCoordinate1}}-{{login_form.BenefitCoordinate2}}</td>
                            </tr>
                    </tbody>

                    <tbody align="center">
                           <tr>
                                <td rowspan="8">其他综合能力</td>
                                <td>感知能力</td>
                                <td>{{login_form.PreceptionAbility1}}-{{login_form.PreceptionAbility2}}</td>
                            </tr>
                            <tr>
                                <td>观察能力</td>
                                <td>{{login_form.ObserveAbility1}}-{{login_form.ObserveAbility2}}</td>
                            </tr>
                            <tr>
                                <td>鉴别评价能力</td>
                                <td>{{login_form.AssessAbility1}}-{{login_form.AssessAbility2}}</td>
                            </tr>
                            <tr>
                                <td>进去能力</td>
                                <td>{{login_form.EnterpriseAbility1}}-{{login_form.EnterpriseAbility2}}</td>
                            </tr>
                            <tr>
                                <td>理论理解能力</td>
                                <td>{{login_form.TheoryUnderstand1}}-{{login_form.TheoryUnderstand2}}</td>
                            </tr>
                            <tr>
                                <td>信息处理能力</td>
                                <td>{{login_form.MessageDeal1}}-{{login_form.MessageDeal2}}</td>
                            </tr>
                            <tr>
                                <td>正向影响能力</td>
                                <td>{{login_form.PositiveEffect1}}-{{login_form.PositiveEffect2}}</td>
                            </tr>
                            <tr>
                                <td>知识集成能力</td>
                                <td>{{login_form.KnowladgeCombine1}}-{{login_form.KnowladgeCombine2}}</td>
                            </tr>
                    </tbody>
                </table>

                <div style="margin:0 auto;width:130px;height:0px;">
                    <input type="submit" value="提交" name="submit">
                </div>

        </form>

        <form method="post">
                    {% csrf_token %}

            <div style="margin:-12px auto;width:20px;height:60px;text-align:center;">
                <input type="submit" value="预览" name="see">
            </div>

        </form>
        {% endif %}

        <div class="foot">
            重庆富博有限公司
        </div>
</body>
</html>