<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Tid}}</title>
</head>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myapp/css/popwindow6.css' %}">

    <script src="/static/myapp/js/num_check1.js"></script>
    <script src="/static/myapp/js/num_check2.js"></script>

<body>
    <div class="container">
        <h1 align="center" style="white-space: nowrap;">综合指标评价</h1>
        <hr size="1" noshade="noshade" width="100%">

        <div class="zhushi">
            *可输入整数、小数、10为很好
        </div>

        <form method="post" id="allow" action="">
            {% csrf_token %}

            {% if message == '无' %}
                <table style="white-space: nowrap;margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
                {% for i,j,k in zhibiao %}
                    <tbody>
                            <tr align="center">
                                <td align="center" rowspan={{k}}>{{i.targetname}}</td>
                                {% for xiaozhibiao in j %}
                                    <td align="center" title="{{xiaozhibiao.targetextplain}}">{{xiaozhibiao.targetname}}</td>
                                    <td align="center"><input type="text" onchange="kp1(this),judge1()" maxlength="2" name={{xiaozhibiao.targetname}}1 />-<input type="text" onchange="kp1(this),judge1()" maxlength="2" name={{xiaozhibiao.targetname}}2 /></td>
                            </tr>
                                {% endfor %}
                    </tbody>
                {% endfor %}
                </table>

                    <div style="white-space: nowrap;position:relative;margin:0 auto;width:10px;height:0px;top:10px;margin-bottom:100px">
                        <input align="center" type="submit" value="提交" id="btn1" name="submit" disabled>
                    </div>

                {% elif message == '有' %}
                    <table style="white-space: nowrap;margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
                {% for i,j,k in xianshifen %}
                    <tbody>
                            <tr align="center">
                                <td align="center" rowspan={{k}}>{{i.targetname}}</td>
                                {% for xiaofenname,fen in j %}
                                    <td align="center" title="{{xiaofenname.targetextplain}}">{{xiaofenname.targetname}}</td>
                                    <td align="center">
                                        <font color="red">
                                            {{fen.score1}}
                                        </font>
                                            -
                                        <font color="red">
                                            {{fen.score2}}
                                        </font>
                                    </td>
                            </tr>
                                {% endfor %}
                    </tbody>
                {% endfor %}
                </table>

                    <div style="position:relative;margin:0 auto;width:10px;height:0px;top:10px;margin-bottom:100px">
                        <input align="center" type="submit" value="更改" name="exchange">
                    </div>

                {% elif message == '改' %}
                    <table style="white-space: nowrap;margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
                {% for i,j,k in xianshifen %}
                    <tbody>
                            <tr align="center">
                                <td align="center" rowspan={{k}}>{{i.targetname}}</td>
                                {% for xiaozhibiao,fen in j %}
                                    <td align="center" title="{{xiaozhibiao.targetextplain}}">{{xiaozhibiao.targetname}}</td>
                                    <td align="center">
                                        <font color="red">
                                            {{fen.score1}}
                                        </font>
                                            -
                                        <font color="red">
                                            {{fen.score2}}
                                        </font>
                                    </td>
                                    <td align="center"><input type="text" onchange="kp2(this),judge2()" maxlength="2" name={{xiaozhibiao.targetname}}1 value={{fen.score1}}>-<input type="text" onchange="kp2(this),judge2()" maxlength="2" name={{xiaozhibiao.targetname}}2 value={{fen.score2}}></td>
                            </tr>
                                {% endfor %}
                    </tbody>
                {% endfor %}
                </table>

                <div style="position:relative;margin:0 auto;width:10px;height:0px;top:10px;margin-bottom:100px">
                    <input align="center" type="submit" value="保存更改" name="save" id="btn2">
                </div>

            {% endif %}
        </form>

    </div>

        <div class="footer">
            <span>重庆富博有限公司</span>
        </div>
</body>
</html>