<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{student.Pname}}</title>
</head>
<body>
        {% if message == "学生还未填写" %}
            <h1>{{message}}</h1>
        {% else %}
            <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
                <tbody>
                        <tr>
                            <td rowspan="8">适应能力</td>
                            <td>表达能力</td>
                            <td>{{self1.ExpressAbility}}</td>
                        </tr>
                        <tr>
                            <td>记忆能力</td>
                            <td>{{self1.RemberAbility}}</td>
                        </tr>
                        <tr>
                            <td>交往能力</td>
                            <td>{{self1.InteractAbility}}</td>
                        </tr>
                        <tr>
                            <td>自我学习能力</td>
                            <td>{{self1.Selflearning}}</td>
                        </tr>
                        <tr>
                            <td>逻辑思维能力</td>
                            <td>{{self1.LogicAbility}}</td>
                        </tr>
                        <tr>
                            <td>系统思维能力</td>
                            <td>{{self1.SystemMind}}</td>
                        </tr>
                        <tr>
                            <td>专注能力</td>
                            <td>{{self1.ConcentrateAbility}}</td>
                        </tr>
                        <tr>
                            <td>适应变化能力</td>
                            <td>{{self1.AdaptDiverse}}</td>
                        </tr>
                </tbody>

                <tbody>
                        <tr>
                            <td rowspan="7">创新能力</td>
                            <td>独立思考能力</td>
                            <td>{{self2.IndependMind}}</td>
                        </tr>
                        <tr>
                            <td>发现问题能力</td>
                            <td>{{self2.ProblemFind}}</td>
                        </tr>
                        <tr>
                            <td>推测预见能力</td>
                            <td>{{self2.PredictAbility}}</td>
                        </tr>
                        <tr>
                            <td>知识迁移能力</td>
                            <td>{{self2.KnowledgeMigrate}}</td>
                        </tr>
                        <tr>
                            <td>发散思维能力</td>
                            <td>{{self2.MindExpand}}</td>
                        </tr>
                        <tr>
                            <td>反思能力</td>
                            <td>{{self2.Remind}}</td>
                        </tr>
                        <tr>
                            <td>应变能力</td>
                            <td>{{self2.React}}</td>
                        </tr>
                </tbody>

                <tbody>
                        <tr>
                            <td rowspan="12">工作能力</td>
                            <td>人际关系能力</td>
                            <td>{{self3.InterpersonAbility}}</td>
                        </tr>
                        <tr>
                            <td>分解问题能力</td>
                            <td>{{self3.ProblemReduce}}</td>
                        </tr>
                        <tr>
                            <td>解决问题能力</td>
                            <td>{{self3.ProblemDeal}}</td>
                        </tr>
                        <tr>
                            <td>只是转化能力</td>
                            <td>{{self3.KnowladgeChange}}</td>
                        </tr>
                        <tr>
                            <td>团队协作能力</td>
                            <td>{{self3.TeamCooperation}}</td>
                        </tr>
                        <tr>
                            <td>执行能力</td>
                            <td>{{self3.ExcuteAbility}}</td>
                        </tr>
                        <tr>
                            <td>组织能力</td>
                            <td>{{self3.OrganizeAbility}}</td>
                        </tr>
                        <tr>
                            <td>转移经验能力</td>
                            <td>{{self3.ExperienceTransform}}</td>
                        </tr>
                        <tr>
                            <td>专业技术能力</td>
                            <td>{{self3.ProfessSkill}}</td>
                        </tr>
                        <tr>
                            <td>计划能力</td>
                            <td>{{self3.PlanAbility}}</td>
                        </tr>
                        <tr>
                            <td>抗压能力</td>
                            <td>{{self3.PressAbility}}</td>
                        </tr>
                        <tr>
                            <td>利益协调能力</td>
                            <td>{{self3.BenefitCoordinate}}</td>
                        </tr>
                </tbody>

                <tbody>
                       <tr>
                            <td rowspan="8">其他综合能力</td>
                            <td>感知能力</td>
                            <td>{{self4.PreceptionAbility}}</td>
                        </tr>
                        <tr>
                            <td>观察能力</td>
                            <td>{{self4.ObserveAbility}}</td>
                        </tr>
                        <tr>
                            <td>鉴别评价能力</td>
                            <td>{{self4.AssessAbility}}</td>
                        </tr>
                        <tr>
                            <td>进去能力</td>
                            <td>{{self4.EnterpriseAbility}}</td>
                        </tr>
                        <tr>
                            <td>理论理解能力</td>
                            <td>{{self4.TheoryUnderstand}}</td>
                        </tr>
                        <tr>
                            <td>信息处理能力</td>
                            <td>{{self4.MessageDeal}}</td>
                        </tr>
                        <tr>
                            <td>正向影响能力</td>
                            <td>{{self4.PositiveEffect}}</td>
                        </tr>
                        <tr>
                            <td>只是集成能力</td>
                            <td>{{self4.KnowladgeCombine}}</td>
                        </tr>
                </tbody>
            </table>
        {% endif %}

</body>
</html>