<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Pname}}</title>
</head>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myApp/css/studentuser.css' %}">
    <script src="/static/myApp/js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
    function showTime()
    {
        var time = new Date();
        var year=time.getFullYear();
        var month=time.getMonth()+1;
    if(month<10)
    {
        month="0"+month;
    }
    var day=time.getDate();
    if(day<10)
    {
        day="0"+day;
    }
    var hour=time.getHours();
    if(hour<10)
    {
        hour="0"+hour;
    }
    var minute=time.getMinutes();
    if(minute<10)
    {
        minute="0"+minute;
    }
    var second=time.getSeconds();
    if(second<10)
    {
        second="0"+second;
    }
    var wd= time.getDay();
    switch(wd)
    {
        case 0:
        wd="星期日";
        break;
        case 1:
        wd="星期一";
        break;
        case 2:
        wd="星期二";
        break;
        case 3:
        wd="星期三";
        break;
        case 4:
        wd="星期四";
        break;
        case 5:
        wd="星期五";
        break;
        case 6:
        wd="星期六";
        break;
    }
    document.timeform.timearea.value= year+"年"+month+"月"+day+"日"+" "+wd+" "+hour+":"+ minute+":"+second;
    setTimeout("showTime()",1000);
    }
</script>

<script type="text/javascript">

function fileChange(target){
//检测上传文件的类型
var imgName = document.all.up_file1.value;
var imgName = document.all.up_file2.value;
     var ext,idx;
    if (imgName == ''){
       document.all.submit_upload.disabled=true;
        <!--alert("请选择需要上传的文件!");-->
        return;
    } else {
        idx = imgName.lastIndexOf(".");
        if (idx != -1){
            ext = imgName.substr(idx+1).toUpperCase();
            ext = ext.toLowerCase( );
           // alert("ext="+ext);
            if (ext != 'pdf'){
              document.all.submit_upload.disabled=true;
                alert("只能上传 .pdf 类型的文件!");
                return;
            }
        } else {
          document.all.submit_upload.disabled=true;
           alert("只能上传.pdf 类型的文件!");
            return;
        }
    }

    //检测上传文件的大小
    var isIE = /msie/i.test(navigator.userAgent) && !window.opera;
    var fileSize = 0;
    if (isIE && !target.files){
        var filePath = target.value;
        var fileSystem = new ActiveXObject("Scripting.FileSystemObject");
        var file = fileSystem.GetFile (filePath);
        fileSize = file.Size;
    } else {
        fileSize = target.files[0].size;
    }

    var maxsize = 400* 1024*1024;

    if(fileSize>maxsize){
    document.all.submit_upload.disabled=true;
        alert("文件大小不能超过400M");
    }else{
    document.all.submit_upload.disabled=false;
    }
}
</script>

<body onLoad="showTime()" class="body">
        <form name="timeform" method="POST" action="">
            <table width="10px" style="position:absolute;top:24px;left:305px;">
                <tr>
                    <td colspan="2">
                    <input name="timearea" type="text" size="30" align="middle" style="background-color:rgb(123,205,254);border:none;font-size:14px;" readonly="readonly"></td>
                </tr>
            </table>
        </form>

            <div><img src="/static/myApp/img/4.png" width="100%" height="250px"></div>
            <div style="position:absolute;top:17px;left:12px"><img src="/static/myApp/img/10.png" ></div>

            <!--<h1 class="header">欢迎{{user.Pname}}</h1>-->


            <div class="menu_head">
                <a href="{% url 'myApp:change1' %}" >更改信息</a>
                <a href="{% url 'myApp:change2' %}">更改密码</a>
                <a href="{% url 'myApp:logouts' %}" >注销</a>
            </div>

            <ul class="nav">
                <li><a href="{% url 'myApp:assess' %}">专业培养评价表</a></li>
                <li><a href="{% url 'myApp:selfestimate' %}">研究生自我评价表</a></li>
            </ul>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table align="center" style="position:relative;top:100px;">
                    <tbody>
                        <tr></tr>
                        <tr>
                            <td>请上传作业</td>
                            <td><input type="file"  id="up_file1" name="test" onchange="fileChange(this);" align="center" multiple ></td>
                        </tr>
                        <tr>
                            <td>请上传论文</td>
                            <td><input type="file" id="up_file2" name="homework" onchange="fileChange(this);" align="center" multiple ></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input id="submit_upload" type="submit" class="load-btn" value="上传" name="submit" disabled></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <table align="center" border="1" style="position:relative;top:100px;">
                <tr>
                    <td>
                        {% for item in document_homework %}
                        <p>{{item.name}}</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% for item in document_test %}
                        <p>{{item.name}}</p>
                        {% endfor %}
                    </td>
                </tr>
            </table>

</body>
</html>