<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Pname}}</title>
</head>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myApp/css/studentuser.css' %}">
    <script src="/static/myApp/js/jquery-3.3.1.min.js"></script>

<body>

            <h1 class="header">欢迎{{user.Pname}}</h1>

            <div><img src="/static/myApp/img/6.jpg"></div>

            <div class="menu_head">
                <a href="{% url 'myApp:change1' %}" >更改信息</a>
                <a href="{% url 'myApp:change2' %}">更改密码</a>
                <a href="{% url 'myApp:logouts' %}" >注销</a>
            </div>

            <ul>
                <li><a href="{% url 'myApp:assess' %}">专业培养评价表</a></li>
                <li><a href="{% url 'myApp:selfestimate' %}">研究生自我评价表</a></li>
            </ul>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table align="center">
                    <tbody>
                        <tr>
                            <td>请上传作业</td>
                            <td><input type="file" name="test" align="center" multiple ></td>
                        </tr>
                        <tr>
                            <td>请上传论文</td>
                            <td><input type="file" name="homework" align="center" multiple ></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="上传" name="submit"></td>
                        </tr>
                    </tbody>
                </table>
            </form>

            <table align="center" border="1">
                <tr>
                    <td>
                        {% for item in document_homework %}
                        {{item.name}}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% for item in document_test %}
                        {{item.name}}
                        {% endfor %}
                    </td>
                </tr>
            </table>

</body>
</html>