<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Pname}}</title>
</head>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myapp/css/studentselfestimate.css' %}">

    <script src="/static/myapp/js/num_check1.js"></script>
    <script src="/static/myapp/js/num_check2.js"></script>

<body>

<div class="container">
    <a href="{% url 'myapp:studentuser' %}" >返回用户</a>
    <a href="{% url 'myapp:selfestimate' %}" >返回评价</a>

    <h1 class="header">能力指标自我评价</h1>
    <hr size="1" noshade="noshade" width="100%">
    <div class="zhushi">
        *请输入整数1-10，最高值为10
    </div>

    <form method="post" style="white-space: nowrap;" id="allow" action="" onsubmit="return checkForm">
        {% csrf_token %}

    {% if message == '无' %}

    <table style="margin:0px auto;white-space: nowrap;" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
    {% for i,j,k in zhibiao %}
        <tbody>
                <tr align="center">
                    <td align="center" rowspan={{k}}>{{i.targetname}}</td>
                    {% for xiaozhibiao in j %}
                        <td align="center" title="{{xiaozhibiao.targetname.targetextplain}}">{{xiaozhibiao.targetname}}</td>
                        <td align="center"><input type="text" onchange="kp1(this),judge1()"  maxlength="3" name={{xiaozhibiao.targetname}} /></td>
                </tr>
                    {% endfor %}
        </tbody>
    {% endfor %}
    </table>

        <div style="position:relative;margin:0 auto;width:130px;height:0px;top:10px;margin-bottom:100px">
            <input align="center" type="submit" value="提交" id="btn1" name="submit" disabled>
        </div>

    {% elif message == '有' %}
        <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
    {% for i,j,k in xianshifen %}
        <tbody>
                <tr align="center">
                    <td align="center" rowspan={{k}}>{{i.targetname}}</td>
                    {% for xiaofenname,fen in j %}
                        <td align="center" title="{{xiaofenname.targetname.targetextplain}}">{{xiaofenname.targetname}}</td>
                        <td align="center">
                            <font color="red">
                                {{fen.score}}
                            </font>
                        </td>
                </tr>
                    {% endfor %}
        </tbody>
    {% endfor %}
    </table>

        <div style="position:relative;margin:0 auto;width:130px;height:0px;top:10px;margin-bottom:100px">
            <input align="center" type="submit" value="更改" name="exchange">
        </div>

    {% elif message == '改' %}
        <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
    {% for i,j,k in xianshifen %}
        <tbody>
                <tr align="center">
                    <td align="center" rowspan={{k}}>{{i.targetname}}</td>
                    {% for xiaozhibiao,fen in j %}
                        <td align="center" title="{{xiaozhibiao.targetname.targetextplain}}">{{xiaozhibiao.targetname}}</td>
                        <td align="center">
                            <font color="red">
                                {{fen.score}}
                            </font>
                        </td>
                        <td align="center">
                                <input onchange="kp2(this),judge2()" maxlength="3" type="text" name={{xiaozhibiao.targetname}} value={{fen.score}} >
                        </td>
                </tr>
                    {% endfor %}
        </tbody>
    {% endfor %}
    </table>

        <div style="position:relative;margin:0 auto;width:130px;height:0px;top:10px;margin-bottom:100px">
            <input align="center" type="submit" value="保存更改" name="save" id="btn2">
        </div>

    {% endif %}


    </form>
</div>
<div><h1></h1><p></p></div>
    <div class="footer">
        <span>重庆富博有限公司</span>
    </div>


</body>
</html>