<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Pname}}</title>


    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myapp/css/studentuser.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static '/myapp/css/fenye.css' %}">
    <script src="/static/myapp/js/jquery-3.3.1.min.js"></script>
    <script src="/static/myapp/js/tanchuan.js"></script>
    <script src="/static/myapp/js/daohangtiao.js"></script>
    <script src="/static/myapp/js/time_display.js"></script>
    <script src="/static/myapp/js/upload_document.js"></script>

</head>

<body onLoad="showTime()" class="body">
        <form name="timeform" method="POST" action="">
            <table width="10px" style="position:absolute;top:24px;left:305px;">
                <tr>
                    <td colspan="2">
                    <input name="timearea" type="text" size="30" align="middle" style="background-color:rgb(123,205,254);border:none;font-size:14px;" readonly="readonly"></td>
                </tr>
            </table>
        </form>

            <div><img src="/static/myapp/img/4.png" width="100%" height="250px"></div>
            <div style="position:absolute;top:17px;left:12px"><img src="/static/myapp/img/10.png" ></div>

            <!--<h1 class="header">欢迎{{user.Pname}}</h1>-->


                <a  href="{% url 'myapp:change1' %}" class="menu_head1">更改信息</a>
                <a href="{% url 'myapp:change2' %}" class="menu_head2" >更改密码</a>
                <a href="{% url 'myapp:logouts' %}" class="menu_head3" >注销</a>


<ul class="nav">
 <!--<li><a onclick="applySelectedTo(this);return false;" href="#heartbreakHotel" class="selected">主页</a></li>-->
    <li><a onclick="applySelectedTo(this);return false;" href="#Stu" class="selected">学生互评</a></li>
    <li><a onclick="applySelectedTo(this);return false;" href="#Tev">提交论文和作业</a></li>
    <li><a onclick="applySelectedTo(this);return false;" href="{% url 'myapp:assess' %}">主观指标评价</a></li>
    <li><a onclick="applySelectedTo(this);return false;" href="{% url 'myapp:selfestimate' %}">能力指标自我评价</a></li>
</ul>

<div  id="content">
 <!--<div class="on" id="heartbreakHotel">-->
                                <!--<p style="position:absolute;top:250px;left:28%;heoght:50%"><img src="/static/myapp/img/8.jpg" ></p>-->

 <!--</div>-->

 <div class="on" id="Stu" style="position:relative;top:120px;left:1000px;width:500px;height:34.5px;">
         {% for i in paginator_object.object_list %}
            <p style="position:relative;top:5px;left:100px;width:500px;height:34.5px;"><a href="javascript:void(0);" onclick="popupFunc({{i.id}})">{{i}}</a></p>
         {% endfor %}

        <ul class="pagination" style="background-color:rgb(240,255,251);height:auto;width:auto;">
            {% if paginator_object.has_previous %}
                <li>
                    <a href="?page={{paginator_object.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a></li>
            {% else %}
                <li><span aria-hidden="true">&laquo;</span></li>
            {% endif %}

            {% for page_num in page_range %}
                {% if page_num == paginator_object.number %}
                    <li class="active"><span>{{page_num}}</span></li>
                {% else %}
                    <li><a href="?page={{page_num}}">{{page_num}}</a></li>
                {% endif %}

            {% endfor %}

            {% if paginator_object.has_next %}
                <li>
                    <a href="?page={{paginator_object.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li><span aria-hidden="true">&raquo;</span></li>
            {% endif %}


        </ul>
 </div>

 <div id="Tev"  style=";text-align:center;position:fixer;top:80px;">
         <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table align="center" style="position:relative;top:100px;" >
                    <tbody>
                            <tr>
                                <td>{{filename.UpType}}</td>
                                <td><input type="file"  id="up_file1" name="test" onchange="fileChange1(this);" align="center" multiple ></td>
                                <td><input id="submit_upload1" type="submit" class="load-btn" value="上传" name="submit" disabled></td>
                            </tr>
                    </tbody>
                </table>
        </form>

            <table align="center" border="1" style="position:relative;top:100px;">
                <tr>
                    <td>
                        已上交的作业
                    </td>
                    <td>
                        {% if document_homework %}

                            {% for item in document_homework %}
                            <p>{{item.name}}</p>
                            {% endfor %}

                        {% else %}
                            {{'学生还未提交作业'}}

                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        已上交的论文
                    </td>
                    <td>
                        {% if document_test %}

                            {% for item in document_test %}
                            <p>{{item.name}}</p>
                            {% endfor %}

                        {% else %}
                            {{'学生还未提交论文'}}

                        {% endif %}
                    </td>
                </tr>
            </table>

 </div>

<div id ="CaseAnalysis" >

</div>

<div id="test"></div>
</div>

</body>
</html>