<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Pname}}</title>
</head>

    <script>
            function kp1(txt){
        <!--var kp = function(txt){-->
            if(!/^([1-9]|10)$/.test(txt.value)){
                txt.style.borderColor = "red";
                s = txt.value * 1;
                <!--return false;-->
                document.all.btn1.disabled=true;
            }else{
                txt.style.borderColor = "";
                s = "-11";
                <!--return true;-->
                document.all.btn1.disabled=true;
            }
        }
        function judge1(){
                            var c = 0;

                    if(s > 10 || s == 0){
                        alert("请输入数字1-10")
                        <!--return false;-->
                document.all.btn1.disabled=true;
                return;
                    }
                    if(s == "-11"){
                            <!--return turn;-->
                            var list = document.getElementsByTagName("input");
                            var regexp1 = /^([1-9]|10)$/;
                            for (var i = 0; i < list.length; i++) {
                            // 判断是否为文本框
                                if (list[i].type == "text") {
                                // 判断文本框是否为空
                                    if (list[i].value == "") {
                                    document.all.btn1.disabled=true;}
                                    //判断list的第i个值是否为1-10
                                     if (list[i].value > 10 || list[i].value < 1) {
                                        c = c + 1;
                                     <!--if(!regexp1.test(list[i].value)){-->
                                    <!--if (!list[i].value < 11 ) {-->
                                        <!--if (list[i].value > 0 ) {-->
                                            document.all.btn1.disabled=true;}

                        }
                        if(c == 0) {
                            document.all.btn1.disabled=false;}
                        }

                        }

                     else{
                        alert("格式不对");
                document.all.btn1.disabled=true;
                 }
}






    </script>
    <script>
                function kp2(txt){
            <!--var kp = function(txt){-->
                if(!/^([1-9]|10)$/.test(txt.value)){
                    txt.style.borderColor = "red";
                    s = txt.value * 1;
                    <!--return false;-->
                    document.all.btn2.disabled=true;
                }else{
                    txt.style.borderColor = "";
                    s = "-11";
                    <!--return true;-->
                    document.all.btn2.disabled=true;
                }
            }
            function judge2(){
                                var c = 0;

                        if(s > 10 || s == 0){
                            alert("请输入数字1-10")
                            <!--return false;-->
                    document.all.btn2.disabled=true;
                    return;
                        }
                        if(s == "-11"){
                                <!--return turn;-->
                                var list = document.getElementsByTagName("input");
                                var regexp1 = /^([1-9]|10)$/;
                                for (var i = 0; i < list.length; i++) {
                                // 判断是否为文本框
                                    if (list[i].type == "text") {
                                    // 判断文本框是否为空
                                        if (list[i].value == "") {
                                        document.all.btn2.disabled=true;}
                                        //判断list的第i个值是否为1-10
                                         if (list[i].value > 10 || list[i].value < 1) {
                                            c = c + 1;
                                                document.all.btn2.disabled=true;}

                            }
                            if(c == 0) {
                                document.all.btn2.disabled=false;}
                            }

                            }

                         else{
                            alert("格式不对");
                    document.all.btn2.disabled=true;
                     }
}

        </script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myapp/css/studentselfestimate.css' %}">

<body>

<div class="container">
    <a href="{% url 'myapp:studentuser' %}" >返回用户</a>
    <a href="{% url 'myapp:selfestimate' %}" >返回评价</a>

    <h1 class="header">研究生自评表</h1>
    <hr size="1" noshade="noshade" width="100%">
    <div class="zhushi">
        *请输入整数1-10，10为很好
    </div>

    <form method="post" style="white-space: nowrap;" id="allow" action="" onsubmit="return checkForm">
        {% csrf_token %}

    {% if message == '无' %}

    <table style="margin:0px auto;white-space: nowrap;" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
    {% for i,j,k in zhibiao %}
        <tbody>
                <tr align="center">
                    <td align="center" rowspan={{k}}>{{i.targetname}}</td>
                    {% for xiaozhibiao in j %}
                        <td align="center">{{xiaozhibiao.targetname}}</td>
                        <td align="center"><input type="text" onchange="kp1(this),judge1()"  maxlength="2" name={{xiaozhibiao.targetname}} /></td>
                </tr>
                    {% endfor %}
        </tbody>
    {% endfor %}
    </table>

        <div style="position:relative;margin:0 auto;width:130px;height:0px;top:10px;margin-bottom:100px">
            <input align="center" type="submit" value="提交" id="btn1" name="submit" disabled>
        </div>

    {% elif message == '有' %}
        <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
    {% for i,j,k in xianshifen %}
        <tbody>
                <tr align="center">
                    <td align="center" rowspan={{k}}>{{i.targetname}}</td>
                    {% for xiaofenname,fen in j %}
                        <td align="center">{{xiaofenname.targetname}}</td>
                        <td align="center">
                            <font color="red">
                                {{fen.score}}
                            </font>
                        </td>
                </tr>
                    {% endfor %}
        </tbody>
    {% endfor %}
    </table>

        <div style="position:relative;margin:0 auto;width:130px;height:0px;top:10px;margin-bottom:100px">
            <input align="center" type="submit" value="更改" name="exchange">
        </div>

    {% elif message == '改' %}
        <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
    {% for i,j,k in xianshifen %}
        <tbody>
                <tr align="center">
                    <td align="center" rowspan={{k}}>{{i.targetname}}</td>
                    {% for xiaozhibiao,fen in j %}
                        <td align="center">{{xiaozhibiao.targetname}}</td>
                        <td align="center">
                            <font color="red">
                                {{fen.score}}
                            </font>
                        </td>
                        <td align="center">
                                <input onchange="kp2(this),judge2()" maxlength="2" type="text" name={{xiaozhibiao.targetname}} value={{fen.score}} >
                        </td>
                </tr>
                    {% endfor %}
        </tbody>
    {% endfor %}
    </table>

        <div style="position:relative;margin:0 auto;width:130px;height:0px;top:10px;margin-bottom:100px">
            <input align="center" type="submit" value="保存更改" name="save" id="btn2">
        </div>

    {% endif %}


    </form>
</div>
<div><h1></h1><p></p></div>
    <div class="footer">
        <span>重庆富博有限公司</span>
    </div>


</body>
</html>