<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
</head>
<body>
    <div style="margin: 15% 40%;">
        <h1>用户{{name}}</h1>

        <form method="post">
            {% csrf_token %}

            <p>{{login_form.name.label}} : {{login_form.name}} {{user.Pname}}</p>
            <p>{{login_form.gender.label}} : {{login_form.gender}}
                {% if user.Pgender %}
                    男
                {% else %}
                    女
                {% endif %}
            </p>
            <p>{{login_form.grade.label}} : {{login_form.grade}} {{user.Pgrade}}</p>
            <p>{{login_form.degree.label}} : {{login_form.degree}} {{user.Pdegree}}</p>
            <p>{{login_form.experience.label}} : {{login_form.experience}} {{user.Pexperience}}</p>
            <input type="submit" value="更改">
        </form>

    </div>
</body>
</html>