<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Pname}}</title>
</head>

{% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myApp/css/studentassess.css' %}">

<body>

        <a href="{% url 'myApp:studentuser' %}" >用户</a>

        <h1 class="header">专业培养评价表</h1>

        <form method="post">
            {% csrf_token %}

            {% if message == "see" %}
                <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
                        <tbody align="center">
                            <tr>
                                <td rowspan="16">培养安排因素</td>
                                <td rowspan="11">课程学习</td>
                                <td colspan="2">课程实践性</td>
                                <td>{{CULT.CoursePractice}}</td>
                            </tr>
                            <tr>
                                <td rowspan="4">教室教学实践性</td>
                                <td>教师会介绍行业最新发展动态</td>
                                <td>{{CULT.E_IndustryDynamics}}</td>
                            </tr>
                            <tr>
                                <td>教师能很好地将理论知识与行业实践相融合</td>
                                <td>{{CULT.E_PracticeCombine}}</td>
                            </tr>
                            <tr>
                                <td>教师善于根据实际情况运用案例教学等方法</td>
                                <td>{{CULT.E_UseingCase}}</td>
                            </tr>
                            <tr>
                                <td>教师善于开展不同形式的实践活动</td>
                                <td>{{CULT.E_DifferentActivity}}</td>
                            </tr>
                            <tr>
                                <td rowspan="4">实践性教学方法使用频率</td>
                                <td>理论与实践相结合</td>
                                <td>{{CULT.F_IndustryDynamics}}</td>
                            </tr>
                            <tr>
                                <td>运用案例教学方法</td>
                                <td>{{CULT.F_PracticeCombine}}</td>
                            </tr>
                            <tr>
                                <td>介绍发展动态</td>
                                <td>{{CULT.F_UseingCase}}</td>
                            </tr>
                            <tr>
                                <td>不同形式的课堂实践活动</td>
                                <td>{{CULT.F_DifferentActivity}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">传统教学方法使用频率</td>
                                <td>{{CULT.F_TraditionClass}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">课程学习效果</td>
                                <td>{{CULT.F_CourseEffect}}</td>
                            </tr>
                            <tr>
                                <td rowspan="4">导师指导</td>
                                <td colspan="2">校内导师指导效果</td>
                                <td>{{CULT.I_TeacherDirect}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">校外导师指导效果</td>
                                <td>{{CULT.O_TeacherDirect}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">校内导师胜任能力</td>
                                <td>{{CULT.I_TeacherAbility}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">校外导师胜任能力</td>
                                <td>{{CULT.O_TeacherAbility}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">学位论文与行业实践关系的密切程度</td>
                                <td>{{CULT.ThesisCombinePractice}}</td>
                            </tr>
                            <tr>
                                <td  rowspan="4">专业实践因素</td>
                                <td colspan="3">专业实践起始时间</td>
                                <td>{{PROFESS.PracticeBeginTime}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">专业实践时长</td>
                                <td>{{PROFESS.ContinueTime}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">专业实践活动参加频率</td>
                                <td>{{PROFESS.ActivityFrequency}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">专业实践内容的系统性</td>
                                <td>{{PROFESS.ActivityContent}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">专业实践的机会满意度</td>
                                <td>{{PROFESS.ActivitySatisfy}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">专业实践效果</td>
                                <td>{{PROFESS.ActivityEffect}}</td>
                            </tr>
                        </tbody>
                    </table>

                <p align="center">
                    <input type="submit" value="返回" name="back">
                </p>

            {% else %}
                <h2 class="header">{{message}}</h2>
                <table style="margin:0px auto" align="center" border="1" width="60%" bgcolor="#e9faff" cellpadding="8">
                    <tbody align="center">
                        <tr>
                            <td rowspan="16">培养安排因素</td>
                            <td rowspan="11">课程学习</td>
                            <td colspan="2">课程实践性</td>
                            <td>{{login_form.CoursePractice}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4">教室教学实践性</td>
                            <td>教师会介绍行业最新发展动态</td>
                            <td>{{login_form.E_IndustryDynamics}}</td>
                        </tr>
                        <tr>
                            <td>教师能很好地将理论知识与行业实践相融合</td>
                            <td>{{login_form.E_PracticeCombine}}</td>
                        </tr>
                        <tr>
                            <td>教师善于根据实际情况运用案例教学等方法</td>
                            <td>{{login_form.E_UseingCase}}</td>
                        </tr>
                        <tr>
                            <td>教师善于开展不同形式的实践活动</td>
                            <td>{{login_form.E_DifferentActivity}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4">实践性教学方法使用频率</td>
                            <td>理论与实践相结合</td>
                            <td>{{login_form.F_IndustryDynamics}}</td>
                        </tr>
                        <tr>
                            <td>运用案例教学方法</td>
                            <td>{{login_form.F_PracticeCombine}}</td>
                        </tr>
                        <tr>
                            <td>介绍发展动态</td>
                            <td>{{login_form.F_UseingCase}}</td>
                        </tr>
                        <tr>
                            <td>不同形式的课堂实践活动</td>
                            <td>{{login_form.F_DifferentActivity}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">传统教学方法使用频率</td>
                            <td>{{login_form.F_TraditionClass}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">课程学习效果</td>
                            <td>{{login_form.F_CourseEffect}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4">导师指导</td>
                            <td colspan="2">校内导师指导效果</td>
                            <td>{{login_form.I_TeacherDirect}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">校外导师指导效果</td>
                            <td>{{login_form.O_TeacherDirect}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">校内导师胜任能力</td>
                            <td>{{login_form.I_TeacherAbility}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">校外导师胜任能力</td>
                            <td>{{login_form.O_TeacherAbility}}</td>
                        </tr>
                        <tr>
                            <td colspan="3">学位论文与行业实践关系的密切程度</td>
                            <td>{{login_form.ThesisCombinePractice}}</td>
                        </tr>
                        <tr>
                            <td  rowspan="4">专业实践因素</td>
                            <td colspan="3">专业实践起始时间</td>
                            <td>{{login_form.PracticeBeginTime}}</td>
                        </tr>
                        <tr>
                            <td colspan="3">专业实践时长</td>
                            <td>{{login_form.ContinueTime}}</td>
                        </tr>
                        <tr>
                            <td colspan="3">专业实践活动参加频率</td>
                            <td>{{login_form.ActivityFrequency}}</td>
                        </tr>
                        <tr>
                            <td colspan="3">专业实践内容的系统性</td>
                            <td>{{login_form.ActivityContent}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">专业实践的机会满意度</td>
                            <td>{{login_form.ActivitySatisfy}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">专业实践效果</td>
                            <td>{{login_form.ActivityEffect}}</td>
                        </tr>
                    </tbody>
                </table>
    <div style="margin:0 auto;width:130px;height:0px;">
                    <input type="submit" value="提交" name="submit">
    </div>

        </form>

        <form method="post">
            {% csrf_token %}
    <div style="margin:-12px auto;width:20px;height:60px;text-align:center;">
            <input type="submit" value="预览" name="see">
    </div>
        </form>
            {% endif %}

    <div class="foot">
        重庆富博有限公司
    </div>


</body>
</html>