<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Tid}}</title>

    <script>
            function popupFunc(url)
            {
                window.open(url, url, "status=1, height:1000, width:800, toolbar=0, resizeable=0")
            }
    </script>
</head>
<body>
        <a href="{% url 'myApp:logoutt' %}" >注销</a>
        <h1 align="center">欢迎{{user.Tname}}</h1>
        <form method="post">
            {% csrf_token %}

            <table align="center">
                <tr>
                    <td><h4>输入查询班级</h4></td>
                    <td><input type="text" name="grade"></td>
                    <td><input type="submit" value="查询"></td>
                </tr>
            </table>
        </form>

        {% for User in AllUser %}
            <p align="center">
                {{User.Pname}}--{% if User.Pgender %}男{% else %}女{% endif %}--{{User.Pgrade}}班
                <a href="" onclick="popupFunc({{User.id}}1)">查看学生专业培养评价</a>
                <a href="" onclick="popupFunc({{User.id}}2)">查看学生自我评价</a>
                <a href="" onclick="popupFunc({{User.id}}3)">查看学生作业情况</a>
                <a href="" onclick="popupFunc({{User.id}}4)">查看学生论文情况</a>
                <a href="" onclick="popupFunc({{User.id}}5)">教师评分</a>
            </p>
        {% endfor %}

        #垂直导航条
        <div>
            <ul>
                <li><a href="">菜单</a></li>
                <li><a href="">菜单</a></li>
            </ul>
        </div>

        #导航条显示计算好的表格和 评价综合指标
        <table style="margin:0px auto" border="1" width="60%" bgcolor="#e9faff" cellpadding="8" align="center">
                <tbody>
                        <tr align="center">
                            <td>能力指标</td>
                            <td>原始值</td>
                            <td>标准化值</td>
                            <td>判别</td>
                        </tr>
                        <tr align="center">
                            <td>表达能力</td>
                            <td>{{Nomalization.0}}</td>
                            <td>{{Inital.0}}</td>
                            <td>{{Judge.0}}</td>
                        </tr>
                        <tr align="center">
                            <td>记忆能力</td>
                            <td>{{Nomalization.1}}</td>
                            <td>{{Inital.1}}</td>
                            <td>{{Judge.1}}</td>
                        </tr>
                        <tr align="center">
                            <td>交往能力</td>
                            <td>{{Nomalization.2}}</td>
                            <td>{{Inital.2}}</td>
                            <td>{{Judge.2}}</td>
                        </tr>
                        <tr align="center">
                            <td>自我学习能力</td>
                            <td>{{Nomalization.3}}</td>
                            <td>{{Inital.3}}</td>
                            <td>{{Judge.3}}</td>
                        </tr>
                        <tr align="center">
                            <td>逻辑思维能力</td>
                            <td>{{Nomalization.4}}</td>
                            <td>{{Inital.4}}</td>
                            <td>{{Judge.4}}</td>
                        </tr>
                        <tr align="center">
                            <td>系统思维能力</td>
                            <td>{{Nomalization.5}}</td>
                            <td>{{Inital.5}}</td>
                            <td>{{Judge.5}}</td>
                        </tr>
                        <tr align="center">
                            <td>专注能力</td>
                            <td>{{Nomalization.6}}</td>
                            <td>{{Inital.6}}</td>
                            <td>{{Judge.6}}</td>
                        </tr>
                        <tr align="center">
                            <td>适应变化能力</td>
                            <td>{{Nomalization.7}}</td>
                            <td>{{Inital.7}}</td>
                            <td>{{Judge.7}}</td>
                        </tr>
                        <tr align="center">
                            <td>独立思考能力</td>
                            <td>{{Nomalization.8}}</td>
                            <td>{{Inital.8}}</td>
                            <td>{{Judge.8}}</td>
                        </tr>
                        <tr align="center">
                            <td>发现问题能力</td>
                            <td>{{Nomalization.9}}</td>
                            <td>{{Inital.9}}</td>
                            <td>{{Judge.9}}</td>
                        </tr>
                        <tr align="center">
                            <td>推测预见能力</td>
                            <td>{{Nomalization.10}}</td>
                            <td>{{Inital.10}}</td>
                            <td>{{Judge.10}}</td>
                        </tr>
                        <tr align="center">
                            <td>知识迁移能力</td>
                            <td>{{Nomalization.11}}</td>
                            <td>{{Inital.11}}</td>
                            <td>{{Judge.11}}</td>
                        </tr>
                        <tr align="center">
                            <td>发散思维能力</td>
                            <td>{{Nomalization.12}}</td>
                            <td>{{Inital.12}}</td>
                            <td>{{Judge.12}}</td>
                        </tr>
                        <tr align="center">
                            <td>反思能力</td>
                            <td>{{Nomalization.13}}</td>
                            <td>{{Inital.13}}</td>
                            <td>{{Judge.13}}</td>
                        </tr>
                        <tr align="center">
                            <td>应变能力</td>
                            <td>{{Nomalization.14}}</td>
                            <td>{{Inital.14}}</td>
                            <td>{{Judge.14}}</td>
                        </tr>
                        <tr align="center">
                            <td>人际关系能力</td>
                            <td>{{Nomalization.15}}</td>
                            <td>{{Inital.15}}</td>
                            <td>{{Judge.15}}</td>
                        </tr>
                        <tr align="center">
                            <td>分解问题能力</td>
                            <td>{{Nomalization.16}}</td>
                            <td>{{Inital.16}}</td>
                            <td>{{Judge.16}}</td>
                        </tr>
                        <tr align="center">
                            <td>解决问题能力</td>
                            <td>{{Nomalization.17}}</td>
                            <td>{{Inital.17}}</td>
                            <td>{{Judge.17}}</td>
                        </tr>
                        <tr align="center">
                            <td>只是转化能力</td>
                            <td>{{Nomalization.18}}</td>
                            <td>{{Inital.18}}</td>
                            <td>{{Judge.18}}</td>
                        </tr>
                        <tr align="center">
                            <td>团队协作能力</td>
                            <td>{{Nomalization.19}}</td>
                            <td>{{Inital.19}}</td>
                            <td>{{Judge.19}}</td>
                        </tr>
                        <tr align="center">
                            <td>执行能力</td>
                            <td>{{Nomalization.20}}</td>
                            <td>{{Inital.20}}</td>
                            <td>{{Judge.20}}</td>
                        </tr>
                        <tr align="center">
                            <td>组织能力</td>
                            <td>{{Nomalization.21}}</td>
                            <td>{{Inital.21}}</td>
                            <td>{{Judge.21}}</td>
                        </tr>
                        <tr align="center">
                            <td>转移经验能力</td>
                            <td>{{Nomalization.22}}</td>
                            <td>{{Inital.22}}</td>
                            <td>{{Judge.22}}</td>
                        </tr>
                        <tr align="center">
                            <td>专业技术能力</td>
                            <td>{{Nomalization.23}}</td>
                            <td>{{Inital.23}}</td>
                            <td>{{Judge.23}}</td>
                        </tr>
                        <tr align="center">
                            <td>计划能力</td>
                            <td>{{Nomalization.24}}</td>
                            <td>{{Inital.24}}</td>
                            <td>{{Judge.24}}</td>
                        </tr>
                        <tr align="center">
                            <td>抗压能力</td>
                            <td>{{Nomalization.25}}</td>
                            <td>{{Inital.25}}</td>
                            <td>{{Judge.25}}</td>
                        </tr>
                        <tr align="center">
                            <td>利益协调能力</td>
                           <td>{{Nomalization.26}}</td>
                            <td>{{Inital.26}}</td>
                            <td>{{Judge.26}}</td>
                        </tr>
                        <tr align="center">
                            <td>感知能力</td>
                            <td>{{Nomalization.27}}</td>
                            <td>{{Inital.27}}</td>
                            <td>{{Judge.27}}</td>
                        </tr>
                        <tr align="center">
                            <td>观察能力</td>
                            <td>{{Nomalization.28}}</td>
                            <td>{{Inital.28}}</td>
                            <td>{{Judge.28}}</td>
                        </tr>
                        <tr align="center">
                            <td>鉴别评价能力</td>
                            <td>{{Nomalization.29}}</td>
                            <td>{{Inital.29}}</td>
                            <td>{{Judge.29}}</td>
                        </tr>
                        <tr align="center">
                            <td>进去能力</td>
                            <td>{{Nomalization.30}}</td>
                            <td>{{Inital.30}}</td>
                            <td>{{Judge.30}}</td>
                        </tr>
                        <tr align="center">
                            <td>理论理解能力</td>
                            <td>{{Nomalization.31}}</td>
                            <td>{{Inital.31}}</td>
                            <td>{{Judge.31}}</td>
                        </tr>
                        <tr align="center">
                            <td>信息处理能力</td>
                            <td>{{Nomalization.32}}</td>
                            <td>{{Inital.32}}</td>
                            <td>{{Judge.32}}</td>
                        </tr>
                        <tr align="center">
                            <td>正向影响能力</td>
                            <td>{{Nomalization.33}}</td>
                            <td>{{Inital.33}}</td>
                            <td>{{Judge.33}}</td>
                        </tr>
                        <tr align="center">
                            <td>只是集成能力</td>
                            <td>{{Nomalization.34}}</td>
                            <td>{{Inital.34}}</td>
                            <td>{{Judge.34}}</td>
                        </tr>
                </tbody>
            </table>

        #可信度
        <h1>{{Accurcy}}</h1>

        <p align="center">
            <a href="" onclick="popupFunc({{User.id}}6)">教师评价综合指标</a>
        </p>

</body>
</html>