<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Tid}}</title>

  {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myapp/css/teacheruser.css' %}">
    <link rel="stylesheet" type="text/css"
          href="/static/myapp/css/fenye.css">
    <script src="/static/myapp/js/daohangtiao.js"></script>
    <script src="/static/myapp/js/tanchuan.js"></script>
    <script src="/static/myapp/js/time_display.js"></script>
    <script src="/static/myapp/js/jquery-3.3.1.min.js"></script>
    <!--异步刷新-->
    <script>

        $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
        $('#form1').submit(function(){
                page = 1;
                Load();

                });
        $('#form2').submit(function(){
                Check_case();

                });

            <!--查学生-->
            function Load(){
                var grade = $("select[name=grade]").val();                 //获得form中用户输入的grade 注意这里的id_grade 与你html中的id一致

                $.ajax({
                    type:"POST",
                    data: {grade:grade,page:1},
                    url: "{% url 'myapp:comments_upload' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "html",
                    success: function(data){
                        render (data)

                    },
                    error: function(){
                        alert("请输入正确班级数字");
                    }
                });

            }

            <!--查案例-->
            function Check_case(){
                var Case = $("select[name=casename]").val();                 //获得form中用户输入的grade 注意这里的id_grade 与你html中的id一致

                $.ajax({
                    type:"POST",
                    data: {Case:Case},
                    url: "{% url 'myapp:comments_case' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "html",
                    success: function(data){
                        go (data)

                    },
                    error: function(){
                        alert("请选择正确案例");
                    }
                });
            }

        });

<!--分页-->
            <!--{# 上一页 #}-->
        function previous(page) {
            page = page-1;
            search(page);
        }
        <!--{# 下一页 #}-->
        function next(page) {
            page = page +1;
            search(page);
        }
        <!--任意一页-->
        function now(page) {
            page = page
            search(page);
        }
        <!--{# 搜索，与按钮点击事件中函数的完全相同 #}-->
        function search(page) {
            var grade = $("select[name=grade]").val();
            $.ajax({
                type:"POST",
                data: {grade:grade,page:page},
                url: "{% url 'myapp:comments_upload' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                cache: false,
                dataType: "html",
                success:function (data) {
                    render(data)
                }
            });
        }


<!--成功后执行渲染-->
            function render(data){
                        var json = eval('('+data+')');
                        var id = "";
                        var str = "";
                        var html = ""
                        if( json != undefined){
                            if( json.length != 0 ){
                                for(var i= 3; i<json.length;i++){    //遍历data数组
                                    var stem = json[i];

                                    str +=  "<tr>"
                                           + "<td align='center'>"+ "<span>"+ stem[1]+"-"+ "</span>" +"</td>";
                                    if(stem[2]){
                                           str += "<td align='center'>"+ "<span>男-"+ "</span>" +"</td>"
                                    }
                                    else{
                                           str += "<td align='center'>"+ "<span>女-"+ "</span>" +"</td>"
                                    }
                                    str += "<td align='center'>"+ "<span>"+ stem[3]+"班-"+ "</span>" +"</td>"
                                           + "<td align='center'>"+ "<a href='javascript:void(0)' onclick='popupFunc("+ stem[0]+ "1)'>" + "查看学生专业培养评价"+ "</a>"+ "</td>"
                                           + "<td align='center'>"+ "<a href='javascript:void(0)' onclick='popupFunc("+ stem[0]+ "2)'>" + "查看学生自我评价"+ "</a>"+ "</td>"
                                           + "<td align='center'>"+ "<a href='javascript:void(0)' onclick='popupFunc("+ stem[0]+ "3)'>" + "查看学生作业情况"+ "</a>"+ "</td>"
                                           + "<td align='center'>"+ "<a href='javascript:void(0)' onclick='popupFunc("+ stem[0]+ "4)'>" + "查看学生论文情况"+ "</a>"+ "</td>"
                                           + "<td align='center'>"+ "<a href='javascript:void(0)' onclick='popupFunc("+ stem[0]+ "5)'>" + "教师评分"+ "</a>"+ "</td>"
                                           + "<td align='center'>"+ "<a href='javascript:void(0)' onclick='popupFunc("+ stem[0]+ "7)'>" + "学生总分"+ "</a>"+ "</td>"
                                           + "</tr>";

                                    $("#ul1").html(str); //在html页面id=ul1的标签里显示str内容

                                };


                                <!--{# 上一页，下一页 #}-->
                                 html += '<ul class="pagination" style="background-color:rgb(240,255,251);height:auto;width:auto;">';
                                    if (json[0]>1){
                                        html += '<li><a href="javascript:void(0)" class="btn btn-default" onclick="previous(' + json[0] + ')">&laquo;</a></li>';
                                    }
                                    else {
                                        html += '<li><a href="javascript:void(0)" class="btn btn-default disabled">&laquo;</a></li>';
                                    }
                                    for(var i= 0; i<(json[2].length);i++){
                                        if(json[0]==json[2][i]){
                                            html += '<li class="active"><a href="javascript:void(0)" onclick="now(' + json[2][i] + ')">'+ json[2][i] +'</a></li>'
                                        }
                                        else{
                                            html += '<li><a href="javascript:void(0)" onclick="now(' + json[2][i] + ')">'+ json[2][i] +'</a></li>'
                                        }
                                    };

                                    if (json[1]){
                                        html += '<li><a href="javascript:void(0)" class="btn btn-default" onclick="next(' + json[0] + ')">&raquo;</a></li>';
                                    }
                                    else {
                                        html += '<li><a href="javascript:void(0)" class="btn btn-default disabled">&raquo;</a></li>';
                                    }
                                 html += '</ul>';

                                 $("#nav_btn").html(html);
                            }
                            else{
                                str += '没有这个班级';
                                html = ''
                                $("#ul1").html(str);
                                $("#nav_btn").html(html);
                            };
                        };
            }

            function go(data){
                        var json = eval('('+data+')');
                        var str = "";
                        if( json != undefined){
                            str +=  "<tr>";
                            for(var i=0; i<json[0].length; i++){
                                str += "<td align='center'>"+ "<a href='/upload/"+ json[1] +"/"+ json[0][i] +"'>" + json[0][i] + "</a>"+ "</td>"
                            };
                            str += "</tr>";
                        };
                        $("#u22").html(str);
            }

</script>


</head>
{{AllUser}}

<body onLoad="showTime()" class="body">
            <div ><img src="/static/myapp/img/4.png" width="100%" height="250px"></div>

            <div style="position: absolute;top:16px;"><img src="/static/myapp/img/10.png" align="absmiddle" ></div>

        <form name="timeform" method="POST" action="">
            <table width="10px" style="position:absolute;top:24px;left:305px;">
                <tr>
                    <td colspan="2">
                    <input name="timearea" type="text" size="30" align="middle" style="background-color:rgb(123,205,254);border:none;font-size:14px;" readonly="readonly"></td>
                </tr>
            </table>
        </form>


                <a href="{% url 'myapp:logoutt' %}"  class="menu_head">注销</a>
            <!--<div ><img src="/static/myapp/img/4.png" width="100%" height="250px"></div>-->

            <a class="wc">欢迎您: {{user.Tname}}老师</a>



            <!--导航栏-->
        <ul class="nav">
         <!--<li><a onclick="applySelectedTo(this);return false;" href="#heartbreakHotel" class="selected">主页</a></li>-->
            <li><a onclick="applySelectedTo(this);return false;" href="#Tev" class="selected">指标筛选</a></li>
            <li><a onclick="applySelectedTo(this);return false;" href="#Stu" >专硕指标评价</a></li>
            <li><a onclick="applySelectedTo(this);return false;" href="#CaseAnalysis">案例指标评价系统</a></li>
        </ul>
<div  id="content">
 <!--<div class="on" id="heartbreakHotel">-->
                                <!--<p style="position:absolute;top:250px;left:28%;heoght:50%"><img src="/static/myapp/img/8.jpg" ></p>-->

 <!--</div>-->

 <div id="Stu">

        <form method="post" id="form1" name="form1" onsubmit="return false">
            {% csrf_token %}

            <table class="submit">
                <tr>
                    <td><h4>输入查询班级</h4></td>
                    <td>
                            <select name="grade"><option></option>
                                {%for k in AllGrade %}
                                    <option>{{k}}</option>
                                {% endfor %}
                            </select>
                    </td>
                    <td><input type="submit" value="查询" onclick="" id="submit"></td>

                </tr>
            </table>
        </form>

     <table id="ul1"  style="position:relative;top:100px;left:750px;width:900px;height:35px"></table>

     <nav id="nav_btn" style="position:relative;top:120px;left:1000px;width:500px;height:34.5px;"></nav>


 </div>

    <div class="on" id="Tev"  style=";text-align:center;position:fixer;top:80px;">
        <p><a href="javascript:void(0);" onclick="popupFunc({{User.id}}6)" >能力指标—集值统计评价筛选</a></p>
         <!--导航条显示计算好的表格和综合评价指标-->
                 <table style="margin:0px auto" border="1" width="60%" bgcolor="#e9faff" cellpadding="8" align="center">
                    <tbody>
                            <tr align="center">
                                <td>能力指标</td>
                                <td>原始值</td>
                                <td>标准化值</td>
                                <td>判别</td>
                            </tr>
                    </tbody>
                    <tbody>
                        {% for i,j,k,l in jieguo %}
                            <tr align="center">
                                <td>{{i.targetname}}</td>
                                <td>{{j}}</td>
                                <td>{{k}}</td>
                                <td>{{l}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            #可信度
            <h1>{{Accurcy}}</h1>

    </div>

    <div id ="CaseAnalysis">
            <form method="post" id="form2" name="form2" onsubmit="return false">
                {% csrf_token %}

                <table class="submit">
                    <tr>
                        <td><h4>选择查找的案例</h4></td>
                        <td>
                            <select name="casename"><option></option>
                                {%for k in AllCase %}
                                    <option>{{k}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="submit" value="查询" onclick="" id="check"></td>
                    </tr>
                </table>
            </form>

        <table id="u22"  style="position:relative;top:100px;left:750px;width:800px;height:35px"></table>
    </div>

</div>

</body>

</html>