<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Tid}}</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myApp/css/teacheruser.css' %}">
    <script src="/static/myApp/js/jquery-3.3.1.min.js"></script>

    <script>
            function popupFunc(url)
            {
                window.open(url, url, "status=1, height:1000, width:800, toolbar=0, resizeable=0")
            }
    </script>


    <script type="text/javascript">
    function applySelectedTo(link) {
     var ul = document.getElementsByTagName("ul")[0]; // get the first ul tag on the page
     var allLinks = ul.getElementsByTagName("a"); // get all the links within that ul
     for (var i=0; i<allLinks.length; i++) { // iterate through all those links
      allLinks[i].className = ""; // and assign their class names to nothing
     }
     link.className = "selected"; // finally, assign class="selected" to our chosen link
     var allDivs = document.getElementsByTagName("div");
     for (var k=0; k<allDivs.length; k++) {
      allDivs[k].className = "";
     }
     var lyricId = link.getAttribute("href").split("#")[1];
     lyricId = document.getElementById(lyricId);
     lyricId.className = "on";
    }
    </script>

    <script type="text/javascript">
        function showTime()
        {
            var time = new Date();
            var year=time.getFullYear();
            var month=time.getMonth()+1;
        if(month<10)
        {
            month="0"+month;
        }
        var day=time.getDate();
        if(day<10)
        {
            day="0"+day;
        }
        var hour=time.getHours();
        if(hour<10)
        {
            hour="0"+hour;
        }
        var minute=time.getMinutes();
        if(minute<10)
        {
            minute="0"+minute;
        }
        var second=time.getSeconds();
        if(second<10)
        {
            second="0"+second;
        }
        var wd= time.getDay();
        switch(wd)
        {
            case 0:
            wd="星期日";
            break;
            case 1:
            wd="星期一";
            break;
            case 2:
            wd="星期二";
            break;
            case 3:
            wd="星期三";
            break;
            case 4:
            wd="星期四";
            break;
            case 5:
            wd="星期五";
            break;
            case 6:
            wd="星期六";
            break;
        }
        document.timeform.timearea.value= year+"年"+month+"月"+day+"日"+" "+wd+" "+hour+":"+ minute+":"+second;
        setTimeout("showTime()",1000);
        }
    </script>

</head>


<body onLoad="showTime()" class="body">
            <div ><img src="/static/myApp/img/4.png" width="100%" height="250px"></div>

            <div style="position: absolute;top:16px;"><img src="/static/myApp/img/10.png" align="absmiddle" ></div>

        <form name="timeform" method="POST" action="">
            <table width="10px" style="position:absolute;top:24px;left:305px;">
                <tr>
                    <td colspan="2">
                    <input name="timearea" type="text" size="30" align="middle" style="background-color:rgb(123,205,254);border:none;font-size:14px;" readonly="readonly"></td>
                </tr>
            </table>
        </form>

                <a href="{% url 'myApp:logoutt' %}"  class="menu_head">注销</a>
            <!--<div ><img src="/static/myApp/img/4.png" width="100%" height="250px"></div>-->

            <a class="wc">欢迎您: {{user.Tname}}老师</a>



            <!--导航栏-->
<ul class="nav">
 <!--<li><a onclick="applySelectedTo(this);return false;" href="#heartbreakHotel" class="selected">主页</a></li>-->
 <li><a onclick="applySelectedTo(this);return false;" href="#blueSuedeShoes" class="selected">学生名单</a></li>
 <li><a onclick="applySelectedTo(this);return false;" href="#houndDog" >教师评价</a></li>
</ul>
<div  id="content">
 <!--<div class="on" id="heartbreakHotel">-->
                                <!--<p style="position:absolute;top:250px;left:28%;heoght:50%"><img src="/static/myApp/img/8.jpg" ></p>-->

 <!--</div>-->

 <div id="blueSuedeShoes" class="on">


          {% for User in AllUser %}
                                <p align="center" style="position:relative;top:90px;">
                                    {{User.Pname}}--{% if User.Pgender %}男{% else %}女{% endif %}--{{User.Pgrade}}班
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}1)">查看学生专业培养评价</a>
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}2)">查看学生自我评价</a>
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}3)">查看学生作业情况</a>
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}4)">查看学生论文情况</a>
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}5)">教师评分</a>
                                </p>
        {% endfor %}

        <form method="post">
            {% csrf_token %}

            <table class="submit">
                <tr>
                    <td><h4>输入查询班级</h4></td>
                    <td><input type="text" name="grade"></td>
                    <td><input type="submit" value="查询"></td>
                </tr>
            </table>
        </form>

 </div>

 <div  id="houndDog"  style=";text-align:center;position:relative;top:70px;">
  <p><a href="javascript:void(0);" onclick="popupFunc({{User.id}}6)" >教师评价综合指标</a></p>
     <!--导航条显示计算好的表格和综合评价指标-->
             <table style="margin:0px auto" border="1" width="60%" bgcolor="#e9faff" cellpadding="8" align="center">
                <tbody>
                        <tr align="center">
                            <td>能力指标</td>
                            <td>原始值</td>
                            <td>标准化值</td>
                            <td>判别</td>
                        </tr>
                        <tr align="center">
                            <td>表达能力</td>
                            <td>{{Nomalization.0}}</td>
                            <td>{{Inital.0}}</td>
                            <td>{{Judge.0}}</td>
                        </tr>
                        <tr align="center">
                            <td>记忆能力</td>
                            <td>{{Nomalization.1}}</td>
                            <td>{{Inital.1}}</td>
                            <td>{{Judge.1}}</td>
                        </tr>
                        <tr align="center">
                            <td>交往能力</td>
                            <td>{{Nomalization.2}}</td>
                            <td>{{Inital.2}}</td>
                            <td>{{Judge.2}}</td>
                        </tr>
                        <tr align="center">
                            <td>自我学习能力</td>
                            <td>{{Nomalization.3}}</td>
                            <td>{{Inital.3}}</td>
                            <td>{{Judge.3}}</td>
                        </tr>
                        <tr align="center">
                            <td>逻辑思维能力</td>
                            <td>{{Nomalization.4}}</td>
                            <td>{{Inital.4}}</td>
                            <td>{{Judge.4}}</td>
                        </tr>
                        <tr align="center">
                            <td>系统思维能力</td>
                            <td>{{Nomalization.5}}</td>
                            <td>{{Inital.5}}</td>
                            <td>{{Judge.5}}</td>
                        </tr>
                        <tr align="center">
                            <td>专注能力</td>
                            <td>{{Nomalization.6}}</td>
                            <td>{{Inital.6}}</td>
                            <td>{{Judge.6}}</td>
                        </tr>
                        <tr align="center">
                            <td>适应变化能力</td>
                            <td>{{Nomalization.7}}</td>
                            <td>{{Inital.7}}</td>
                            <td>{{Judge.7}}</td>
                        </tr>
                        <tr align="center">
                            <td>独立思考能力</td>
                            <td>{{Nomalization.8}}</td>
                            <td>{{Inital.8}}</td>
                            <td>{{Judge.8}}</td>
                        </tr>
                        <tr align="center">
                            <td>发现问题能力</td>
                            <td>{{Nomalization.9}}</td>
                            <td>{{Inital.9}}</td>
                            <td>{{Judge.9}}</td>
                        </tr>
                        <tr align="center">
                            <td>推测预见能力</td>
                            <td>{{Nomalization.10}}</td>
                            <td>{{Inital.10}}</td>
                            <td>{{Judge.10}}</td>
                        </tr>
                        <tr align="center">
                            <td>知识迁移能力</td>
                            <td>{{Nomalization.11}}</td>
                            <td>{{Inital.11}}</td>
                            <td>{{Judge.11}}</td>
                        </tr>
                        <tr align="center">
                            <td>发散思维能力</td>
                            <td>{{Nomalization.12}}</td>
                            <td>{{Inital.12}}</td>
                            <td>{{Judge.12}}</td>
                        </tr>
                        <tr align="center">
                            <td>反思能力</td>
                            <td>{{Nomalization.13}}</td>
                            <td>{{Inital.13}}</td>
                            <td>{{Judge.13}}</td>
                        </tr>
                        <tr align="center">
                            <td>应变能力</td>
                            <td>{{Nomalization.14}}</td>
                            <td>{{Inital.14}}</td>
                            <td>{{Judge.14}}</td>
                        </tr>
                        <tr align="center">
                            <td>人际关系能力</td>
                            <td>{{Nomalization.15}}</td>
                            <td>{{Inital.15}}</td>
                            <td>{{Judge.15}}</td>
                        </tr>
                        <tr align="center">
                            <td>分解问题能力</td>
                            <td>{{Nomalization.16}}</td>
                            <td>{{Inital.16}}</td>
                            <td>{{Judge.16}}</td>
                        </tr>
                        <tr align="center">
                            <td>解决问题能力</td>
                            <td>{{Nomalization.17}}</td>
                            <td>{{Inital.17}}</td>
                            <td>{{Judge.17}}</td>
                        </tr>
                        <tr align="center">
                            <td>只是转化能力</td>
                            <td>{{Nomalization.18}}</td>
                            <td>{{Inital.18}}</td>
                            <td>{{Judge.18}}</td>
                        </tr>
                        <tr align="center">
                            <td>团队协作能力</td>
                            <td>{{Nomalization.19}}</td>
                            <td>{{Inital.19}}</td>
                            <td>{{Judge.19}}</td>
                        </tr>
                        <tr align="center">
                            <td>执行能力</td>
                            <td>{{Nomalization.20}}</td>
                            <td>{{Inital.20}}</td>
                            <td>{{Judge.20}}</td>
                        </tr>
                        <tr align="center">
                            <td>组织能力</td>
                            <td>{{Nomalization.21}}</td>
                            <td>{{Inital.21}}</td>
                            <td>{{Judge.21}}</td>
                        </tr>
                        <tr align="center">
                            <td>转移经验能力</td>
                            <td>{{Nomalization.22}}</td>
                            <td>{{Inital.22}}</td>
                            <td>{{Judge.22}}</td>
                        </tr>
                        <tr align="center">
                            <td>专业技术能力</td>
                            <td>{{Nomalization.23}}</td>
                            <td>{{Inital.23}}</td>
                            <td>{{Judge.23}}</td>
                        </tr>
                        <tr align="center">
                            <td>计划能力</td>
                            <td>{{Nomalization.24}}</td>
                            <td>{{Inital.24}}</td>
                            <td>{{Judge.24}}</td>
                        </tr>
                        <tr align="center">
                            <td>抗压能力</td>
                            <td>{{Nomalization.25}}</td>
                            <td>{{Inital.25}}</td>
                            <td>{{Judge.25}}</td>
                        </tr>
                        <tr align="center">
                            <td>利益协调能力</td>
                           <td>{{Nomalization.26}}</td>
                            <td>{{Inital.26}}</td>
                            <td>{{Judge.26}}</td>
                        </tr>
                        <tr align="center">
                            <td>感知能力</td>
                            <td>{{Nomalization.27}}</td>
                            <td>{{Inital.27}}</td>
                            <td>{{Judge.27}}</td>
                        </tr>
                        <tr align="center">
                            <td>观察能力</td>
                            <td>{{Nomalization.28}}</td>
                            <td>{{Inital.28}}</td>
                            <td>{{Judge.28}}</td>
                        </tr>
                        <tr align="center">
                            <td>鉴别评价能力</td>
                            <td>{{Nomalization.29}}</td>
                            <td>{{Inital.29}}</td>
                            <td>{{Judge.29}}</td>
                        </tr>
                        <tr align="center">
                            <td>进去能力</td>
                            <td>{{Nomalization.30}}</td>
                            <td>{{Inital.30}}</td>
                            <td>{{Judge.30}}</td>
                        </tr>
                        <tr align="center">
                            <td>理论理解能力</td>
                            <td>{{Nomalization.31}}</td>
                            <td>{{Inital.31}}</td>
                            <td>{{Judge.31}}</td>
                        </tr>
                        <tr align="center">
                            <td>信息处理能力</td>
                            <td>{{Nomalization.32}}</td>
                            <td>{{Inital.32}}</td>
                            <td>{{Judge.32}}</td>
                        </tr>
                        <tr align="center">
                            <td>正向影响能力</td>
                            <td>{{Nomalization.33}}</td>
                            <td>{{Inital.33}}</td>
                            <td>{{Judge.33}}</td>
                        </tr>
                        <tr align="center">
                            <td>知识集成能力</td>
                            <td>{{Nomalization.34}}</td>
                            <td>{{Inital.34}}</td>
                            <td>{{Judge.34}}</td>
                        </tr>
                </tbody>
            </table>

        #可信度
        <h1>{{Accurcy}}</h1>

 </div>
</div>




</body>

</html>