<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.Tid}}</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/myApp/css/teacheruser.css' %}">
    <script src="/static/myApp/js/jquery-3.3.1.min.js"></script>

    <script>
            function popupFunc(url)
            {
                window.open(url, url, "status=1, height:800, width:600, toolbar=0, resizeable=0")
            }
    </script>

    <script>
        $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
        $('#form1').submit(function(){
                var grade = $("#id_grade").val();                 //获得form中用户输入的grade 注意这里的id_grade 与你html中的id一致

                $.ajax({
                    type:"POST",
                    data: {grade:grade},
                    url: "{% url 'myApp:comments_upload' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "html",
                    success: function(result, statues, xml){
                        alert(result);                                         //成功时弹出view传回来的结果
                    },
                    error: function(){
                        alert("false");
                    }
                });
                return false;
            });

        });
    </script>

    <script type="text/javascript">
    function applySelectedTo(link) {
     var ul = document.getElementsByTagName("ul")[0]; // get the first ul tag on the page
     var allLinks = ul.getElementsByTagName("a"); // get all the links within that ul
     for (var i=0; i<allLinks.length; i++) { // iterate through all those links
      allLinks[i].className = ""; // and assign their class names to nothing
     }
     link.className = "selected"; // finally, assign class="selected" to our chosen link
     var allDivs = document.getElementsByTagName("div");
     for (var k=0; k<allDivs.length; k++) {
      allDivs[k].className = "";
     }
     var lyricId = link.getAttribute("href").split("#")[1];
     lyricId = document.getElementById(lyricId);
     lyricId.className = "on";
    }
    </script>

    <script type="text/javascript">
        function showTime()
        {
            var time = new Date();
            var year=time.getFullYear();
            var month=time.getMonth()+1;
        if(month<10)
        {
            month="0"+month;
        }
        var day=time.getDate();
        if(day<10)
        {
            day="0"+day;
        }
        var hour=time.getHours();
        if(hour<10)
        {
            hour="0"+hour;
        }
        var minute=time.getMinutes();
        if(minute<10)
        {
            minute="0"+minute;
        }
        var second=time.getSeconds();
        if(second<10)
        {
            second="0"+second;
        }
        var wd= time.getDay();
        switch(wd)
        {
            case 0:
            wd="星期日";
            break;
            case 1:
            wd="星期一";
            break;
            case 2:
            wd="星期二";
            break;
            case 3:
            wd="星期三";
            break;
            case 4:
            wd="星期四";
            break;
            case 5:
            wd="星期五";
            break;
            case 6:
            wd="星期六";
            break;
        }
        document.timeform.timearea.value= year+"年"+month+"月"+day+"日"+" "+wd+" "+hour+":"+ minute+":"+second;
        setTimeout("showTime()",1000);
        }
    </script>

</head>


<body onLoad="showTime()" class="body">
            <div ><img src="/static/myApp/img/4.png" width="100%" height="250px"></div>

            <div style="position: absolute;top:16px;"><img src="/static/myApp/img/10.png" align="absmiddle" ></div>

        <form name="timeform" method="POST" action="">
            <table width="10px" style="position:absolute;top:24px;left:305px;">
                <tr>
                    <td colspan="2">
                    <input name="timearea" type="text" size="30" align="middle" style="background-color:rgb(123,205,254);border:none;font-size:14px;" readonly="readonly"></td>
                </tr>
            </table>
        </form>


                <a href="{% url 'myApp:logoutt' %}"  class="menu_head">注销</a>
            <!--<div ><img src="/static/myApp/img/4.png" width="100%" height="250px"></div>-->

            <a class="wc">欢迎您: {{user.Tname}}老师</a>



            <!--导航栏-->
<ul class="nav">
 <!--<li><a onclick="applySelectedTo(this);return false;" href="#heartbreakHotel" class="selected">主页</a></li>-->
 <li><a onclick="applySelectedTo(this);return false;" href="#blueSuedeShoes" >学生名单</a></li>
 <li><a onclick="applySelectedTo(this);return false;" href="#houndDog" class="selected">教师评价</a></li>
</ul>
<div  id="content">
 <!--<div class="on" id="heartbreakHotel">-->
                                <!--<p style="position:absolute;top:250px;left:28%;heoght:50%"><img src="/static/myApp/img/8.jpg" ></p>-->

 <!--</div>-->

 <div id="blueSuedeShoes" >


          {% for User in AllUser %}
                                <p align="center" style="position:relative;top:90px;">
                                    {{User.Pname}}--{% if User.Pgender %}男{% else %}女{% endif %}--{{User.Pgrade}}班
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}1)">查看学生专业培养评价</a>
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}2)">查看学生自我评价</a>
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}3)">查看学生作业情况</a>
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}4)">查看学生论文情况</a>
                                    <a href="javascript:void(0);" onclick="popupFunc({{User.id}}5)">教师评分</a>
                                </p>
        {% endfor %}

        <form method="post" id="form1" name="form1">
            {% csrf_token %}

            <table class="submit">
                <tr>
                    <td><h4>输入查询班级</h4></td>
                    <td><input type="text" name="grade" id="id_grade"></td>
                    <td><input type="submit" value="查询"  id="submit"></td>
                </tr>
            </table>
        </form>

 </div>

 <div  id="houndDog"  style=";text-align:center;position:relative;top:70px;" class="on">
  <p><a href="javascript:void(0);" onclick="popupFunc({{User.id}}6)" >教师评价综合指标</a></p>
     <!--导航条显示计算好的表格和综合评价指标-->
             <table style="margin:0px auto" border="1" width="60%" bgcolor="#e9faff" cellpadding="8" align="center">
                <tbody>
                        <tr align="center">
                            <td>能力指标</td>
                            <td>原始值</td>
                            <td>标准化值</td>
                            <td>判别</td>
                        </tr>
                </tbody>
                <tbody>
                    {% for i,j,k,l in jieguo %}
                        <tr align="center">
                            <td>{{i.targetname}}</td>
                            <td>{{j}}</td>
                            <td>{{k}}</td>
                            <td>{{l}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        #可信度
        <h1>{{Accurcy}}</h1>

 </div>
</div>




</body>

</html>