
*{
    margin:1px;
    padding:3px;/*设置距顶点的距离设置为3*/

}
.title{
    color: black;
    white-space: nowrap;
    position:absolute;
    top:15%;
    width:95%;
    font-size:50px;
    font-family:"楷体";
    text-align:center;

}
.header1{
    white-space: nowrap;
    position:absolute;
    top:30%;
    width:95%;
    font-size:50px;
    font-family:"楷体";
    text-align:center;

}
.header2{
    white-space: nowrap;
    position:absolute;
    top:40%;
    width:95%;
    font-size:50px;
    font-family:"楷体";
    text-align:center;

}
.header3{
    white-space: nowrap;
    position:absolute;
    top:50%;
    width:95%;
    font-size:50px;
    font-family:"楷体";
    text-align:center;

}
.header4{
    white-space: nowrap;
    position:absolute;
    top:60%;
    width:95%;
    font-size:50px;
    font-family:"楷体";
    text-align:center;

}