<style>
    html, body {
    margin: 0;/*清除默认样式*/
    padding: 1;
    height: 97.2%;
}

.container {
    position: relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

        .zhushi{
            white-space: nowrap;
            text-align:center;
            font-size:13px

        }

.footer {
white-space: nowrap;
        position: fixed;
        width: 100%;
        bottom: 0px;

}

.footer{
    white-space: nowrap;
        text-align: center;
        background-color: darkslategrey;
        color: #fff;
        font-family: Arial;
        font-size: 14px;
        letter-spacing: 1px;
}

.footer span{
    line-height: 42px;
    }

</style>