<style>
    html, body {
    margin: 0;/*清除默认样式*/
    padding: 1;
    height: 97.2%;
}

.container {
    position: relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

        .zhushi{
            white-space: nowrap;
            text-align:center;
            font-size:13px

        }

.footer {
white-space: nowrap;
    position: relative; /*相对于父元素contanier定位*/
    width: 100%;
    bottom: -50px;/*始终距离它的父元素的底部为0px.则是处于父元素的最底*/
}

.footer{
    white-space: nowrap;
    position:relative;
    width:100%;
        	text-align: center;
            background-color: darkslategrey;
            color: #fff;
            font-family: Arial;
            font-size: 14px;
            letter-spacing: 1px;
}

.footer span{
    line-height: 42px;
    }

</style>