        ul {
            list-style-type:none;
            margin: 0;
            padding: 0;
            width: 12%;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }


        li a:hover:not(.active) {
            background-color: #555;
            color: white;
        }
        .header{
                height:60px;
                width:15%;
                font-size:35px;
                font-family:"楷体";
                color: #525252;
                border: 1px solid #f1f1f1;
                margin: 0px;
                font-weight: bold;
        }
        <!--.menu_nva1 {-->
                <!--height:100%;-->
                <!--margin-top:0px;-->
                <!--line-height: 40px;-->
                <!--border-left: 1px solid #51a9f18c;-->
                <!--color: #fff;-->
                <!--padding-left: 800px;-->
                <!--width:15%;-->
                <!--padding-top: 200px-->
                <!--}-->
        <!--.menu_nva2 {-->
                <!--height:100%;-->
                <!--margin-top:0px;-->
                <!--line-height: 40px;-->
                <!--border-left: 1px solid #51a9f18c;-->
                <!--color: #fff;-->
                <!--padding-left: 800px;-->
                <!--width:15%;-->
                <!--padding-top: 30px-->
                <!--}-->
        .menu_head {
                height: 30px;
                line-height: 30px;
                padding-left: 10px;
                font-size: 14px;
                border: 1px solid #f1f1f1;
                position: relative;
                margin: 0px;
                font-weight: bold;
                background: #ccc;
                }