*{
            margin:0px;
            padding:3px;/*设置距顶点的距离设置为3*/
        }
        .header{
            height:80px;
            width:100%;
            font-size:30px;
            font-family:"楷体";
            text-align:center;
        }
        .zhushi{
            text-align:center;
            font-size:13px

        }
        .main{
            text-align:center;
        }
        .foot{
	        height: 30px;
	        line-height: 35px;
        	bottom: 0;
        	width: 100%;
        	text-align: center;
            background-color: darkslategrey;
            color: #fff;
            font-family: Arial;
            font-size: 14px;
            letter-spacing: 1px;
        }
